<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://www.smauec.com">SMAUEC</a>
  <a href="list-user">Users</a> | 
  <a href="list-event">Events</a> | 
  <a href="list-activity">Activities</a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<router-outlet></router-outlet>
