<div class="col-md-6 user-container">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id"  readonly="true">
    </div>
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input formControlName="email" placeholder="email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="roles">Roles:</label>
      <select multiple formControlName="roles" placeholder="roles" name="roles" class="form-control" id="roles">
	<option *ngFor="let role of roles">
	  {{ role.name }}
	</option>
      </select>
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>

